<?xml version="1.0" encoding="UTF-8"?>
<AppConfig>
    <CpuInfo>
        <NumberOfCore>2</NumberOfCore>
    </CpuInfo>
    <MySql>
        <Ip>127.0.0.1</Ip>
        <Port>3306</Port>
        <User>root</User>
        <Password></Password>
        <DBName>acmicpc</DBName>
    </MySql>
    <Compiler>
        <HasMsC>true</HasMsC>
        <HasMsCxx>true</HasMsCxx>
        <HasGcc>true</HasGcc>
        <HasGxx>true</HasGxx>
        <HasPascal>false</HasPascal>
        <HasJava>false</HasJava>
        <HasPython>false</HasPython>
    </Compiler>
    <JudgeCode>
        <Pending>0</Pending>
        <Rejudge>1</Rejudge>
        <Compiling>2</Compiling>
        <Running>3</Running>
        <Accept>4</Accept>
        <PresentError>5</PresentError>
        <WrongAnswer>6</WrongAnswer>
        <TimeLimitExceed>7</TimeLimitExceed>
        <MemoryLimitExceed>8</MemoryLimitExceed>
        <OutputLimited>9</OutputLimited>
        <RuntimeError>10</RuntimeError>
        <CompileError>11</CompileError>
        <CompileOK>12</CompileOK>
        <SystemError>14</SystemError>
		<CompileTimeError>15</CompileTimeError>
        <UnknownError>99</UnknownError>
    </JudgeCode>
	<Language>
		<C>0</C>
		<Cxx>1</Cxx>
		<Pascal>2</Pascal>
		<Java>3</Java>
	</Language>
	<WindowsUser>
		<Enable>false</Enable>
		<Name>acmer</Name>
		<Password>imustacm</Password>
	</WindowsUser>
    <Path>
        <TestDataPath>D:\imustoj\testdata</TestDataPath>
    </Path>
</AppConfig>